     *
     {
         box-sizing: border-box;
         margin: 0;
     }
     .parent
     {
         width: 700px;
         height: 700px;
         background-color: aquamarine;
         position: relative;
         margin:auto;
         font-size: 30px;
     }
     .box{
         width: 250px;
         height: 250px;
         background-color:seagreen;
         font-size: 30px;
         position: absolute;
         top: 225px;
         right: 225px;
     }